<style>
    .navbar {
        background-color: #008a37; /* Xanh BHX */
        overflow: hidden;
        padding: 15px;
    }
    .navbar a {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-weight: bold;
        font-size: 18px;
    }
    .navbar a:hover { background-color: #ffe100; color: #d8232a; }
</style>

<div class="navbar">
    <a href="/locations/ban-do/">🗺️ BẢN ĐỒ</a>
    <a href="/locations/danh-sach/">📋 DANH SÁCH CỬA HÀNG</a>
    <a href="/admin/">⚙️ QUẢN TRỊ (ADMIN)</a>
</div>